<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/github-markdown.css' />
    <link rel='stylesheet' href='/stylesheets/prism.css' />
  </head>
  <body>
    <div class="markdown-body"><%- mdContent %></div>
    <script src="/javascripts/prism.js"></script>
  </body>
</html>
