<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>picture</title>
</head>
<body>
	<form action="http://106.15.228.215:8080/Blog/admin/picture" method="post" enctype="multipart/form-data">
		<input type="file" name="picture"><br>
		<input type="submit" value="submit">
	</form>
</body>
</html>